<h1><%= @student.inputsCertificate %> страница</h1>

<h2>Возраст: <%= @student.organization %></h2>

<%= button_to "Добавить в квантум", new_enrollment_path, method: :get %>
<ul>
	<% @student.enrollments.each do |enrollment|%>
		<li><% enrollment.kvantoriums.inputsCertificate %></li>
		<%= button_to "Добавить квантум", enrollment_path(enrollment), method: :delete %>
	<% end %>
</ul>

<%= button_to "Редактировать студента", edit_student_path, method: :get %>
<%= button_to "Удалить студента", student_path, method: :delete %>

<%= link_to "Удалить студента", student_path %>