<%= render 'shared/errors', obj: @article %>

<div class="row">
	<div class="col-xs-12">
		<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
		<div class="form-group">
			<div class="control-label col-sm-2">
				<%= f.label :title %>
			</div>
			<div class="col-sm-6">
				<%= f.text_field :title, class: "form-control", placeholder: "Название статьи", autofocus: true %>
			</div>
		</div>
		<div class="form-group">
			<div class="control-label col-sm-2">
				<%= f.label :description %>
			</div>
			<div class="col-sm-6">
				<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Текст статьи" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-default"><%= link_to 'Назад', articles_path %></button>
				<%= f.submit 'Создать статью', class: 'btn btn-primary btn-large' %>
			</div>
		</div>
		<% end %>
	</div>
</div>