<h1>Создать нового пользователя</h1>

<% if @user.errors.any? %>
 <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
   <div class="panel panel-danger">
    <div class="panel-heading">
     <h2 class="panel-title">
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
     </h2>
     <div class="panel-body">
      <ul>
       <% @user.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
       <% end %>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
<% end %>

<%= form_for @user do |f| %>
<p>
	<%= f.label :username %>
	<%= f.text_field :username %>
</p>
<p>
	<%= f.label :email %><br>
	<%= f.text_area :email %>
</p>

<p>
  <%= f.label :password %><br>
  <%= f.text_area :password %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>